<!DOCTYPE html>
<html>

<head>
  <title>
    <%=sails.config.globals.appName%>
  </title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="SpendWise">
  <meta name="author" content="Alejandro Fernandez">
  <meta name="keywords" content="spend spendwise wise">

  <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
  <!--SCRIPTS-->
  <script src="/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/jquery.min.js"></script>
  <script src="/js/dependencies/validator.js"></script>
  <script src="/js/dependencies/metisMenu.js"></script>
  <script src="/js/dependencies/popper-utils.min.js"></script>
  <script src="/js/dependencies/popper.min.js"></script>
  <script src="/js/vendor/animsition/animsition.min.js"></script>
  <script src="/js/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
  <script src="/js/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
  <script src="/js/vendor/select2/select2.min.js"></script>
  <script src="/js/vendor/slick/slick.js"></script>
  <script src="/js/vendor/slick/slick.min.js"></script>
  <script src="/js/vendor/wow/wow.min.js"></script>
  <script src="/js/all.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/fontawesome.js"></script>
  <script src="/js/loadEverywhere.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/sb-admin-2.js"></script>
  <!--SCRIPTS END-->
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="/styles/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/font-face.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/loadEverywhere.css">
  <link rel="stylesheet" href="/styles/materia-font.min.css">
  <link rel="stylesheet" href="/styles/metisMenu.css">
  <link rel="stylesheet" href="/styles/navbar-fixed-left.css">
  <link rel="stylesheet" href="/styles/sb-admin-2.css">
  <link rel="stylesheet" href="/styles/vendor/animate.css">
  <link rel="stylesheet" href="/styles/vendor/animsition.min.css">
  <link rel="stylesheet" href="/styles/vendor/bootstrap-progressbar-3.3.4.min.css">
  <link rel="stylesheet" href="/styles/vendor/hamburgers.min.css">
  <link rel="stylesheet" href="/styles/vendor/perfect-scrollbar.css">
  <link rel="stylesheet" href="/styles/vendor/select2.min.css">
  <link rel="stylesheet" href="/styles/vendor/slick.css">
  <link rel="stylesheet" href="/styles/vendor/theme.css">
  <!--STYLES END-->
</head>
<% if(session.user && view.pathFromApp.indexOf('home') !== -1){%>

  <body style="background-color:white" class="home">
    <%} else if(view.pathFromApp.indexOf('login') !== -1){%>

      <body>
        <%}
        else if(view.pathFromApp.indexOf('register') !== -1){%>
          <%} else{%>

            <body style="background-color:white" class="home">
              <%}%>
                <% if(session.user){ var user = session.user;%>

                  <!-- <div class="navbar-default sidebar navbar-fixed-left blue" role="navigation">
                    <div class="sidebar-nav navbar-collapse" style="height:50px;left:10px">
                      <a class="navbar-brand" style="color:white" href="/">
                        <%=sails.config.globals.appName%>
                      </a>
                    </div>
                    <div class="sidebar-nav navbar-collapse">
                      <ul class="nav" id="side-menu">
                        <li style="width:90%">
                          <a href="/">
                            <i class="fa fa-home fa-fw icon"></i> Home</a>
                        </li>
                        <li style="width:90%">
                          <a href="/expenses">
                            <i class="fa fa-money-check-alt icon"></i> My Expenses</a>
                        </li>
                        <li style="width:90%">
                          <a href="/categories">
                            <i class="fa fa-folder-open fa-fw icon"></i> Categories</a>
                        </li>
                        <!-- BOTTOM ELEMENTS-->
                        <li class="toBottom">
                          <a class="dropdown-toggle noHover" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                            <button class="avatarSidebar">
                              <img src="<%=user.avatar !== '' ? user.avatar : ''%>" style="height:45px;width:45px;border-radius:50px;">
                            </button>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <ul class="nav navbar-top-links navbar-right">
                              <li>
                                <%=user.firstName + ' ' + user.lastName %>
                              </li>
                              <li class="divider"></li>
                              <li>
                                <a href="/profile" class="listItem">
                                  <i class="fa fa-user fa-fw"></i> User Profile</a>
                              </li>
                              <li class="divider"></li>
                              <li>
                                <a href="/settings" class="listItem">
                                  <i class="fa fa-cogs fa-fw"></i> Settings</a>
                              </li>
                              <li class="divider"></li>
                              <li>
                                <a href="/logout" class="listItem">
                                  <i class="glyphicon glyphicon-log-out fa-fw"></i> Logout</a>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div> -->
                  <!-- /.navbar-static-side -->
                  </nav>
                  <%- body %>
                    <%} else {%>
                      <%- body %>
                        <%}%>
                          <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like React, Vue.js, Angular, Ember, and Backbone
        require that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different view engine (handlebars, dust, pug/jade, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

                          <!--TEMPLATES-->
                          
                          <!--TEMPLATES END-->


                          <!--
        Server-side View Locals
        ========================

        Sometimes, it's convenient to get access to your server-side view locals from
        client-side JavaScript.  This can improve page load times, remove the need for
        extra AJAX requests, and make your client-side code easier to understand and
        to maintain.  Sails provides a simple mechanism for accessing dynamic view
        locals: the "exposeLocalsToBrowser()" view partial.

        For more information on using this built-in feature, see:
        https://sailsjs.com/docs/concepts/views/locals#?escaping-untrusted-data-using-exposelocalstobrowser

    -->


                          <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

            </body>

</html>
