<div id="page-wrapper" style="background-color:white">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">404</h1>
      <% if (typeof error !== 'undefined') { %>
        <div class="error-details">
          <pre><code><%- error %></code></pre>
        </div>
        <% } else { %>
          <p class="error">
            A team of highly trained sea bass is working on this as we speak.
            <br/> If the problem persists, please
            <a href="#">contact the system administrator</a> and inform them of the time that the error occured, and anything you might
            have done that may have caused the error.
          </p>
          <% } %>
    </div>
    <!-- /.col-lg-12 -->
  </div>
</div>
