<div id="page-wrapper" style="background-color:white">

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">My Profile</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <div class="row col-lg-12">
    <div class="col-lg-1"></div>
    <div class="col-lg-4 sub-items">Account Settings</div>
  </div>
  <div class="col-lg-12">
    <form action="/user/update" method="post" class="text-center">
      <div class="col-lg-12">
        <br>
        <div class="row col-lg-3">
          <div class="field-group">
            <div class="row">
              <label for="account-avatar" style="position:relative;top:100px">
                <small>Avatar</small>
              </label>
            </div>
          </div>
        </div>
        <div class="row pull-left">
          <div class="field-group">
            <div class="row">
              <div class="avatar-upload">
                <div class="avatar-edit">
                  <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                  <label for="imageUpload"></label>
                </div>
                <div class="avatar-preview">
                  <div id="imagePreview" style="background-image: url(<%=user.avatar%>);">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- User First Name + Last -->
      <div class="col-lg-12">
        <br>
        <div class="row col-lg-3">
          <div class="field-group">
            <div class="row">
              <label for="username">
                <small>Name</small>
              </label>
            </div>
          </div>
        </div>
        <div class="row pull-left">
          <div class="field-group">
            <div class="row">
              <%=user.firstName + ' ' + user.lastName%>
            </div>
          </div>
        </div>
      </div>
      <!-- User First Name + Last END -->
      <!-- Email -->
      <div class="col-lg-12">
        <br>
        <div class="row col-lg-3">
          <div class="field-group">
            <div class="row">
              <label for="email">
                <small>Email</small>
              </label>
            </div>
          </div>
        </div>
        <div class="row pull-left">
          <div class="field-group">
            <div class="row">
              <%=user.email%>
            </div>
          </div>
        </div>
      </div>
      <!-- Email End-->
      <!-- Login -->
      <div class="col-lg-12">
        <br>
        <div class="row col-lg-3">
          <div class="field-group">
            <div class="row">
              <label for="login">
                <small>Login</small>
              </label>
            </div>
          </div>
        </div>
        <div class="row pull-left">
          <div class="field-group">
            <div class="row">
              <%=user.login%>
            </div>
          </div>
        </div>
      </div>
      <!-- Login END-->
      <!-- Password -->
      <div class="col-lg-12">
        <br>
        <div class="row col-lg-3">
          <div class="field-group">
            <div class="row">
              <label for="password">
                <small>Password</small>
              </label>
            </div>
          </div>
        </div>
        <div class="row pull-left">
          <div class="field-group">
            <div class="row">
              **********
              <a href="#" id="changePassword" style="color:#0065FF">(change)</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Password END-->
      <!-- Registration Date -->
      <div class="col-lg-12">
        <br>
        <div class="row col-lg-3">
          <div class="field-group">
            <div class="row">
              <label for="registration">
                <small>Registered on</small>
              </label>
            </div>
          </div>
        </div>
        <div class="row pull-left">
          <div class="field-group">
            <div class="row">
              <%=sails.moment(user.createdAt).format('MMMM D YYYY')%>
            </div>
          </div>
        </div>
      </div>
      <!-- Registration Date END-->
    </form>
  </div>
</div>
</div>
</div>
<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="changePassword" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning">
          Changing passwords will force you to log back in.
        </div>
        <br>
        <p style="font-weight:bold;">Old Password:</p>
        <input type="password" name="oldPassword" id="oldPassword" class="form-control" rows="1" required>
        <small style="color:red; display:none" id="reusePW">New passwords cannot be the same as the old one</small>
        <br>
        <p style="font-weight:bold;">New Password:</p>
        <input type="password" name="newPassword" id="newPassword" class="form-control" rows="1" required>
        <small style="color:red; display:none" id="wrongPW2">Passwords do not match</small>
        <br>
        <p style="font-weight:bold;">Repeat New Password:</p>
        <input type="password" name="repeatNewPassword" id="repeatNewPassword" class="form-control" rows="1" required>
        <small style="color:red; display:none" id="wrongPW1">Passwords do not match</small>
      </div>
      <div class="modal-footer">
        <button id="changePassword" class="btn btn-primary">Continue</button>
        <button type="button" class="btn btn-default" id="cancel" name="cancel" data-dismiss="modal">Cancel</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<%- block('script', "<script src='js/views/account/account.js' type='text/javascript'></script>") -%>