body {
  background: #25272A;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
}

a,
a:hover {
  color: white;
  text-decoration: none;
}

body.day-background {
  background: #0747A6
}

#dayIcon {
  position: relative;
  width: 15px;
  height: 15px;
  top: -8px;
  fill: #9caec0;
}

#nightIcon {
  position: relative;
  width: 15px;
  height: 15px;
  top: -8px;
  fill: #9caec0;
}

#dayIcon,
#nightIcon {
  cursor: pointer;
}

.toggle {
  display: none;
}

.toggle,
.toggle:after,
.toggle:before,
.toggle *,
.toggle *:after,
.toggle *:before,
.toggle+.toggle-button {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.toggle::-moz-selection,
.toggle:after::-moz-selection,
.toggle:before::-moz-selection,
.toggle *::-moz-selection,
.toggle *:after::-moz-selection,
.toggle *:before::-moz-selection,
.toggle+.toggle-button::-moz-selection {
  background: none;
}

.toggle::selection,
.toggle:after::selection,
.toggle:before::selection,
.toggle *::selection,
.toggle *:after::selection,
.toggle *:before::selection,
.toggle+.toggle-button::selection {
  background: none;
}

.toggle+.toggle-button {
  top: -2px;
  outline: 0;
  display: inline-block;
  width: 2.5em;
  height: 1.3em;
  position: relative;
  cursor: pointer;
  border: 2px solid rgba(0, 123, 247, 0.27);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toggle+.toggle-button:after,
.toggle+.toggle-button:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.toggle+.toggle-button:after {
  left: 0;
}

.toggle+.toggle-button:before {
  display: none;
}

.toggle:checked+.toggle-button:after {
  left: 50%;
}

.toggle+.toggle-button {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  border: 2px solid rgba(0, 123, 247, 0.27);
  border-radius: 2em;
}

.toggle+.toggle-button:after {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: rgba(0, 123, 247, 0.27);
  content: "";
  border-radius: 1em;
}

.toggle:checked+.toggle-button:after {
  left: 50%;
}

.dropDownDayNightToggle {
  position: relative;
  left: 20px;
  width: 90%;
  margin-bottom: -15px;
}

#page-wrapper {
  border-left: none !important;
  margin: 0 0 0 0 !important;
}

.sidebar {
  margin: 0 0 0 0 !important;
}

.sidebar ul li {
  border-bottom: none !important;
  left: 15px;
}

.nav>li>a:hover,
.nav>li>a:focus {
  background-color: rgb(244, 245, 247);
  color: rgb(23, 43, 77);
  fill: rgb(244, 245, 247);
}

.sidebar.blue {
  background-color: #0747A6;
}

.icon {
  margin-right: 16px
}

#page-wrapper a,
#page-wrapper text {
  color: rgb(23, 43, 77);
}

li.toBottom {
  position: absolute;
  display: inline-block;
  bottom: 10px;
  left: 15px;
}

div.sidebar div.dropdown-menu a {
  color: rgb(23, 43, 77);
}

h1.page-header {
  font-size: 1.71428571em;
  font-style: inherit;
  font-weight: 500;
  letter-spacing: -.01em;
  line-height: 1.16666667;
  margin-top: 28px;
  color: #172B4D;
}

div.sub-items {
  font-size: 1.14285714em;
  font-style: inherit;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -.006em;
  margin-top: 24px;
  color: #172B4D;
}

img.profileImage {
  width: 100px;
  height: 100px;
}

.avatarSidebar {
  -webkit-appearance: none;
  color: rgb(222, 235, 255);
  background-color: rgb(7, 71, 166);
  fill: rgb(7, 71, 166);
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  line-height: 1;
  width: 32px;
  height: 32px;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 8px;
  text-align: center;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 50%;
  padding: 0px;
  outline: none;
}
li a:hover{
  background-color:rgb(244, 245, 247);
}
.noHover{
  background-color:transparent!important;
}
.sidebar ul li a.active {
  color: rgb(23, 43, 77);
}