<!-- <div id="page-wrapper" style="background-color:white">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Home</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-comments fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">26</div>
              <div>New Comments!</div>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right">
              <i class="fa fa-arrow-circle-right"></i>
            </span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-green">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-tasks fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">12</div>
              <div>New Tasks!</div>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right">
              <i class="fa fa-arrow-circle-right"></i>
            </span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-yellow">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-shopping-cart fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">124</div>
              <div>New Orders!</div>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right">
              <i class="fa fa-arrow-circle-right"></i>
            </span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-red">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-support fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">13</div>
              <div>Support Tickets!</div>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right">
              <i class="fa fa-arrow-circle-right"></i>
            </span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
  </div>  
</div> -->
<div class="page-wrapper">
  <!-- HEADER MOBILE-->
  <header class="header-mobile d-block d-lg-none">
      <div class="header-mobile__bar">
          <div class="container-fluid">
              <div class="header-mobile-inner">
                  <a class="logo" href="index.html">
                      <img src="images/icon/logo.png" alt="CoolAdmin" />
                  </a>
                  <button class="hamburger hamburger--slider" type="button">
                      <span class="hamburger-box">
                          <span class="hamburger-inner"></span>
                      </span>
                  </button>
              </div>
          </div>
      </div>
      <nav class="navbar-mobile">
          <div class="container-fluid">
              <ul class="navbar-mobile__list list-unstyled">
                  <li class="has-sub">
                      <a class="js-arrow" href="#">
                          <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                      <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                          <li>
                              <a href="index.html">Dashboard 1</a>
                          </li>
                          <li>
                              <a href="index2.html">Dashboard 2</a>
                          </li>
                          <li>
                              <a href="index3.html">Dashboard 3</a>
                          </li>
                          <li>
                              <a href="index4.html">Dashboard 4</a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a href="chart.html">
                          <i class="fas fa-chart-bar"></i>Charts</a>
                  </li>
                  <li>
                      <a href="table.html">
                          <i class="fas fa-table"></i>Tables</a>
                  </li>
                  <li>
                      <a href="form.html">
                          <i class="far fa-check-square"></i>Forms</a>
                  </li>
                  <li>
                      <a href="#">
                          <i class="fas fa-calendar-alt"></i>Calendar</a>
                  </li>
                  <li>
                      <a href="map.html">
                          <i class="fas fa-map-marker-alt"></i>Maps</a>
                  </li>
                  <li class="has-sub">
                      <a class="js-arrow" href="#">
                          <i class="fas fa-copy"></i>Pages</a>
                      <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                          <li>
                              <a href="login.html">Login</a>
                          </li>
                          <li>
                              <a href="register.html">Register</a>
                          </li>
                          <li>
                              <a href="forget-pass.html">Forget Password</a>
                          </li>
                      </ul>
                  </li>
                  <li class="has-sub">
                      <a class="js-arrow" href="#">
                          <i class="fas fa-desktop"></i>UI Elements</a>
                      <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                          <li>
                              <a href="button.html">Button</a>
                          </li>
                          <li>
                              <a href="badge.html">Badges</a>
                          </li>
                          <li>
                              <a href="tab.html">Tabs</a>
                          </li>
                          <li>
                              <a href="card.html">Cards</a>
                          </li>
                          <li>
                              <a href="alert.html">Alerts</a>
                          </li>
                          <li>
                              <a href="progress-bar.html">Progress Bars</a>
                          </li>
                          <li>
                              <a href="modal.html">Modals</a>
                          </li>
                          <li>
                              <a href="switch.html">Switchs</a>
                          </li>
                          <li>
                              <a href="grid.html">Grids</a>
                          </li>
                          <li>
                              <a href="fontawesome.html">Fontawesome Icon</a>
                          </li>
                          <li>
                              <a href="typo.html">Typography</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </div>
      </nav>
  </header>
  <!-- END HEADER MOBILE-->

  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
      <div class="logo">
          <a href="#">
              <img src="images/icon/logo.png" alt="Cool Admin" />
          </a>
      </div>
      <div class="menu-sidebar__content js-scrollbar1">
          <nav class="navbar-sidebar">
              <ul class="list-unstyled navbar__list">
                  <li class="has-sub">
                      <a class="js-arrow" href="#">
                          <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                      <ul class="list-unstyled navbar__sub-list js-sub-list">
                          <li>
                              <a href="index.html">Dashboard 1</a>
                          </li>
                          <li>
                              <a href="index2.html">Dashboard 2</a>
                          </li>
                          <li>
                              <a href="index3.html">Dashboard 3</a>
                          </li>
                          <li>
                              <a href="index4.html">Dashboard 4</a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a href="chart.html">
                          <i class="fas fa-chart-bar"></i>Charts</a>
                  </li>
                  <li>
                      <a href="table.html">
                          <i class="fas fa-table"></i>Tables</a>
                  </li>
                  <li>
                      <a href="form.html">
                          <i class="far fa-check-square"></i>Forms</a>
                  </li>
                  <li>
                      <a href="#">
                          <i class="fas fa-calendar-alt"></i>Calendar</a>
                  </li>
                  <li>
                      <a href="map.html">
                          <i class="fas fa-map-marker-alt"></i>Maps</a>
                  </li>
                  <li class="active has-sub">
                      <a class="js-arrow" href="#">
                          <i class="fas fa-copy"></i>Pages</a>
                      <ul class="list-unstyled navbar__sub-list js-sub-list">
                          <li>
                              <a href="login.html">Login</a>
                          </li>
                          <li>
                              <a href="register.html">Register</a>
                          </li>
                          <li>
                              <a href="forget-pass.html">Forget Password</a>
                          </li>
                      </ul>
                  </li>
                  <li class="has-sub">
                      <a class="js-arrow" href="#">
                          <i class="fas fa-desktop"></i>UI Elements</a>
                      <ul class="list-unstyled navbar__sub-list js-sub-list">
                          <li>
                              <a href="button.html">Button</a>
                          </li>
                          <li>
                              <a href="badge.html">Badges</a>
                          </li>
                          <li>
                              <a href="tab.html">Tabs</a>
                          </li>
                          <li>
                              <a href="card.html">Cards</a>
                          </li>
                          <li>
                              <a href="alert.html">Alerts</a>
                          </li>
                          <li>
                              <a href="progress-bar.html">Progress Bars</a>
                          </li>
                          <li>
                              <a href="modal.html">Modals</a>
                          </li>
                          <li>
                              <a href="switch.html">Switchs</a>
                          </li>
                          <li>
                              <a href="grid.html">Grids</a>
                          </li>
                          <li>
                              <a href="fontawesome.html">Fontawesome Icon</a>
                          </li>
                          <li>
                              <a href="typo.html">Typography</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </nav>
      </div>
  </aside>
  <!-- END MENU SIDEBAR-->

  <!-- PAGE CONTAINER-->
  <div class="page-container">
      <!-- HEADER DESKTOP-->
      <header class="header-desktop">
          <div class="section__content section__content--p30">
              <div class="container-fluid">
                  <div class="header-wrap">
                      <form class="form-header" action="" method="POST">
                          <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                          <button class="au-btn--submit" type="submit">
                              <i class="zmdi zmdi-search"></i>
                          </button>
                      </form>
                      <div class="header-button">
                          <div class="noti-wrap">
                              <div class="noti__item js-item-menu">
                                  <i class="zmdi zmdi-comment-more"></i>
                                  <span class="quantity">1</span>
                                  <div class="mess-dropdown js-dropdown">
                                      <div class="mess__title">
                                          <p>You have 2 news message</p>
                                      </div>
                                      <div class="mess__item">
                                          <div class="image img-cir img-40">
                                              <img src="images/icon/avatar-06.jpg" alt="Michelle Moreno" />
                                          </div>
                                          <div class="content">
                                              <h6>Michelle Moreno</h6>
                                              <p>Have sent a photo</p>
                                              <span class="time">3 min ago</span>
                                          </div>
                                      </div>
                                      <div class="mess__item">
                                          <div class="image img-cir img-40">
                                              <img src="images/icon/avatar-04.jpg" alt="Diane Myers" />
                                          </div>
                                          <div class="content">
                                              <h6>Diane Myers</h6>
                                              <p>You are now connected on message</p>
                                              <span class="time">Yesterday</span>
                                          </div>
                                      </div>
                                      <div class="mess__footer">
                                          <a href="#">View all messages</a>
                                      </div>
                                  </div>
                              </div>
                              <div class="noti__item js-item-menu">
                                  <i class="zmdi zmdi-email"></i>
                                  <span class="quantity">1</span>
                                  <div class="email-dropdown js-dropdown">
                                      <div class="email__title">
                                          <p>You have 3 New Emails</p>
                                      </div>
                                      <div class="email__item">
                                          <div class="image img-cir img-40">
                                              <img src="images/icon/avatar-06.jpg" alt="Cynthia Harvey" />
                                          </div>
                                          <div class="content">
                                              <p>Meeting about new dashboard...</p>
                                              <span>Cynthia Harvey, 3 min ago</span>
                                          </div>
                                      </div>
                                      <div class="email__item">
                                          <div class="image img-cir img-40">
                                              <img src="images/icon/avatar-05.jpg" alt="Cynthia Harvey" />
                                          </div>
                                          <div class="content">
                                              <p>Meeting about new dashboard...</p>
                                              <span>Cynthia Harvey, Yesterday</span>
                                          </div>
                                      </div>
                                      <div class="email__item">
                                          <div class="image img-cir img-40">
                                              <img src="images/icon/avatar-04.jpg" alt="Cynthia Harvey" />
                                          </div>
                                          <div class="content">
                                              <p>Meeting about new dashboard...</p>
                                              <span>Cynthia Harvey, April 12,,2018</span>
                                          </div>
                                      </div>
                                      <div class="email__footer">
                                          <a href="#">See all emails</a>
                                      </div>
                                  </div>
                              </div>
                              <div class="noti__item js-item-menu">
                                  <i class="zmdi zmdi-notifications"></i>
                                  <span class="quantity">3</span>
                                  <div class="notifi-dropdown js-dropdown">
                                      <div class="notifi__title">
                                          <p>You have 3 Notifications</p>
                                      </div>
                                      <div class="notifi__item">
                                          <div class="bg-c1 img-cir img-40">
                                              <i class="zmdi zmdi-email-open"></i>
                                          </div>
                                          <div class="content">
                                              <p>You got a email notification</p>
                                              <span class="date">April 12, 2018 06:50</span>
                                          </div>
                                      </div>
                                      <div class="notifi__item">
                                          <div class="bg-c2 img-cir img-40">
                                              <i class="zmdi zmdi-account-box"></i>
                                          </div>
                                          <div class="content">
                                              <p>Your account has been blocked</p>
                                              <span class="date">April 12, 2018 06:50</span>
                                          </div>
                                      </div>
                                      <div class="notifi__item">
                                          <div class="bg-c3 img-cir img-40">
                                              <i class="zmdi zmdi-file-text"></i>
                                          </div>
                                          <div class="content">
                                              <p>You got a new file</p>
                                              <span class="date">April 12, 2018 06:50</span>
                                          </div>
                                      </div>
                                      <div class="notifi__footer">
                                          <a href="#">All notifications</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="account-wrap">
                              <div class="account-item clearfix js-item-menu">
                                  <div class="image">
                                      <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                  </div>
                                  <div class="content">
                                      <a class="js-acc-btn" href="#">john doe</a>
                                  </div>
                                  <div class="account-dropdown js-dropdown">
                                      <div class="info clearfix">
                                          <div class="image">
                                              <a href="#">
                                                  <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                              </a>
                                          </div>
                                          <div class="content">
                                              <h5 class="name">
                                                  <a href="#">john doe</a>
                                              </h5>
                                              <span class="email">johndoe@example.com</span>
                                          </div>
                                      </div>
                                      <div class="account-dropdown__body">
                                          <div class="account-dropdown__item">
                                              <a href="#">
                                                  <i class="zmdi zmdi-account"></i>Account</a>
                                          </div>
                                          <div class="account-dropdown__item">
                                              <a href="#">
                                                  <i class="zmdi zmdi-settings"></i>Setting</a>
                                          </div>
                                          <div class="account-dropdown__item">
                                              <a href="#">
                                                  <i class="zmdi zmdi-money-box"></i>Billing</a>
                                          </div>
                                      </div>
                                      <div class="account-dropdown__footer">
                                          <a href="#">
                                              <i class="zmdi zmdi-power"></i>Logout</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </header>
      <!-- END HEADER DESKTOP-->

      <!-- MAIN CONTENT-->
      <div class="main-content">
          <div class="section__content section__content--p30">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
                              <div class="au-card-title" style="background-image:url('images/bg-title-01.jpg');">
                                  <div class="bg-overlay bg-overlay--blue"></div>
                                  <h3>
                                      <i class="zmdi zmdi-account-calendar"></i>26 April, 2018</h3>
                                  <button class="au-btn-plus">
                                      <i class="zmdi zmdi-plus"></i>
                                  </button>
                              </div>
                              <div class="au-task js-list-load">
                                  <div class="au-task__title">
                                      <p>Tasks for John Doe</p>
                                  </div>
                                  <div class="au-task-list js-scrollbar3">
                                      <div class="au-task__item au-task__item--danger">
                                          <div class="au-task__item-inner">
                                              <h5 class="task">
                                                  <a href="#">Meeting about plan for Admin Template 2018</a>
                                              </h5>
                                              <span class="time">10:00 AM</span>
                                          </div>
                                      </div>
                                      <div class="au-task__item au-task__item--warning">
                                          <div class="au-task__item-inner">
                                              <h5 class="task">
                                                  <a href="#">Create new task for Dashboard</a>
                                              </h5>
                                              <span class="time">11:00 AM</span>
                                          </div>
                                      </div>
                                      <div class="au-task__item au-task__item--primary">
                                          <div class="au-task__item-inner">
                                              <h5 class="task">
                                                  <a href="#">Meeting about plan for Admin Template 2018</a>
                                              </h5>
                                              <span class="time">02:00 PM</span>
                                          </div>
                                      </div>
                                      <div class="au-task__item au-task__item--success">
                                          <div class="au-task__item-inner">
                                              <h5 class="task">
                                                  <a href="#">Create new task for Dashboard</a>
                                              </h5>
                                              <span class="time">03:30 PM</span>
                                          </div>
                                      </div>
                                      <div class="au-task__item au-task__item--danger js-load-item">
                                          <div class="au-task__item-inner">
                                              <h5 class="task">
                                                  <a href="#">Meeting about plan for Admin Template 2018</a>
                                              </h5>
                                              <span class="time">10:00 AM</span>
                                          </div>
                                      </div>
                                      <div class="au-task__item au-task__item--warning js-load-item">
                                          <div class="au-task__item-inner">
                                              <h5 class="task">
                                                  <a href="#">Create new task for Dashboard</a>
                                              </h5>
                                              <span class="time">11:00 AM</span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="au-task__footer">
                                      <button class="au-btn au-btn-load js-load-btn">load more</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
                              <div class="au-card-title" style="background-image:url('images/bg-title-02.jpg');">
                                  <div class="bg-overlay bg-overlay--blue"></div>
                                  <h3>
                                      <i class="zmdi zmdi-comment-text"></i>New Messages</h3>
                                  <button class="au-btn-plus">
                                      <i class="zmdi zmdi-plus"></i>
                                  </button>
                              </div>
                              <div class="au-inbox-wrap js-inbox-wrap">
                                  <div class="au-message js-list-load">
                                      <div class="au-message__noti">
                                          <p>You Have
                                              <span>2</span>

                                              new messages
                                          </p>
                                      </div>
                                      <div class="au-message-list">
                                          <div class="au-message__item unread">
                                              <div class="au-message__item-inner">
                                                  <div class="au-message__item-text">
                                                      <div class="avatar-wrap">
                                                          <div class="avatar">
                                                              <img src="images/icon/avatar-02.jpg" alt="John Smith">
                                                          </div>
                                                      </div>
                                                      <div class="text">
                                                          <h5 class="name">John Smith</h5>
                                                          <p>Have sent a photo</p>
                                                      </div>
                                                  </div>
                                                  <div class="au-message__item-time">
                                                      <span>12 Min ago</span>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="au-message__item unread">
                                              <div class="au-message__item-inner">
                                                  <div class="au-message__item-text">
                                                      <div class="avatar-wrap online">
                                                          <div class="avatar">
                                                              <img src="images/icon/avatar-03.jpg" alt="Nicholas Martinez">
                                                          </div>
                                                      </div>
                                                      <div class="text">
                                                          <h5 class="name">Nicholas Martinez</h5>
                                                          <p>You are now connected on message</p>
                                                      </div>
                                                  </div>
                                                  <div class="au-message__item-time">
                                                      <span>11:00 PM</span>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="au-message__item">
                                              <div class="au-message__item-inner">
                                                  <div class="au-message__item-text">
                                                      <div class="avatar-wrap online">
                                                          <div class="avatar">
                                                              <img src="images/icon/avatar-04.jpg" alt="Michelle Sims">
                                                          </div>
                                                      </div>
                                                      <div class="text">
                                                          <h5 class="name">Michelle Sims</h5>
                                                          <p>Lorem ipsum dolor sit amet</p>
                                                      </div>
                                                  </div>
                                                  <div class="au-message__item-time">
                                                      <span>Yesterday</span>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="au-message__item">
                                              <div class="au-message__item-inner">
                                                  <div class="au-message__item-text">
                                                      <div class="avatar-wrap">
                                                          <div class="avatar">
                                                              <img src="images/icon/avatar-05.jpg" alt="Michelle Sims">
                                                          </div>
                                                      </div>
                                                      <div class="text">
                                                          <h5 class="name">Michelle Sims</h5>
                                                          <p>Purus feugiat finibus</p>
                                                      </div>
                                                  </div>
                                                  <div class="au-message__item-time">
                                                      <span>Sunday</span>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="au-message__item js-load-item">
                                              <div class="au-message__item-inner">
                                                  <div class="au-message__item-text">
                                                      <div class="avatar-wrap online">
                                                          <div class="avatar">
                                                              <img src="images/icon/avatar-04.jpg" alt="Michelle Sims">
                                                          </div>
                                                      </div>
                                                      <div class="text">
                                                          <h5 class="name">Michelle Sims</h5>
                                                          <p>Lorem ipsum dolor sit amet</p>
                                                      </div>
                                                  </div>
                                                  <div class="au-message__item-time">
                                                      <span>Yesterday</span>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="au-message__item js-load-item">
                                              <div class="au-message__item-inner">
                                                  <div class="au-message__item-text">
                                                      <div class="avatar-wrap">
                                                          <div class="avatar">
                                                              <img src="images/icon/avatar-05.jpg" alt="Michelle Sims">
                                                          </div>
                                                      </div>
                                                      <div class="text">
                                                          <h5 class="name">Michelle Sims</h5>
                                                          <p>Purus feugiat finibus</p>
                                                      </div>
                                                  </div>
                                                  <div class="au-message__item-time">
                                                      <span>Sunday</span>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="au-message__footer">
                                          <button class="au-btn au-btn-load js-load-btn">load more</button>
                                      </div>
                                  </div>
                                  <div class="au-chat">
                                      <div class="au-chat__title">
                                          <div class="au-chat-info">
                                              <div class="avatar-wrap online">
                                                  <div class="avatar avatar--small">
                                                      <img src="images/icon/avatar-02.jpg" alt="John Smith">
                                                  </div>
                                              </div>
                                              <span class="nick">
                                                  <a href="#">John Smith</a>
                                              </span>
                                          </div>
                                      </div>
                                      <div class="au-chat__content">
                                          <div class="recei-mess-wrap">
                                              <span class="mess-time">12 Min ago</span>
                                              <div class="recei-mess__inner">
                                                  <div class="avatar avatar--tiny">
                                                      <img src="images/icon/avatar-02.jpg" alt="John Smith">
                                                  </div>
                                                  <div class="recei-mess-list">
                                                      <div class="recei-mess">Lorem ipsum dolor sit amet, consectetur adipiscing elit non iaculis</div>
                                                      <div class="recei-mess">Donec tempor, sapien ac viverra</div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="send-mess-wrap">
                                              <span class="mess-time">30 Sec ago</span>
                                              <div class="send-mess__inner">
                                                  <div class="send-mess-list">
                                                      <div class="send-mess">Lorem ipsum dolor sit amet, consectetur adipiscing elit non iaculis</div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="au-chat-textfield">
                                          <form class="au-form-icon">
                                              <input class="au-input au-input--full au-input--h65" type="text" placeholder="Type a message">
                                              <button class="au-input-icon">
                                                  <i class="zmdi zmdi-camera"></i>
                                              </button>
                                          </form>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="au-card au-card--no-shadow au-card--no-pad m-b-40 au-card--border">
                              <div class="au-card-title" style="background-image:url('images/bg-title-02.jpg');">
                                  <div class="bg-overlay bg-overlay--blue"></div>
                                  <h3>
                                      <i class="zmdi zmdi-comment-text"></i>Chat</h3>
                                  <button class="au-btn-plus">
                                      <i class="zmdi zmdi-plus"></i>
                                  </button>
                              </div>
                              <div class="au-inbox-wrap">
                                  <div class="au-chat au-chat--border">
                                      <div class="au-chat__title">
                                          <div class="au-chat-info">
                                              <div class="avatar-wrap online">
                                                  <div class="avatar avatar--small">
                                                      <img src="images/icon/avatar-02.jpg" alt="John Smith">
                                                  </div>
                                              </div>
                                              <span class="nick">
                                                  <a href="#">John Smith</a>
                                              </span>
                                          </div>
                                      </div>
                                      <div class="au-chat__content au-chat__content2 js-scrollbar5">
                                          <div class="recei-mess-wrap">
                                              <span class="mess-time">12 Min ago</span>
                                              <div class="recei-mess__inner">
                                                  <div class="avatar avatar--tiny">
                                                      <img src="images/icon/avatar-02.jpg" alt="John Smith">
                                                  </div>
                                                  <div class="recei-mess-list">
                                                      <div class="recei-mess">Lorem ipsum dolor sit amet elit</div>
                                                      <div class="recei-mess">Donec tempor viverra</div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="send-mess-wrap">
                                              <span class="mess-time">30 Sec ago</span>
                                              <div class="send-mess__inner">
                                                  <div class="send-mess-list">
                                                      <div class="send-mess">Lorem ipsum dolor sit amet elit</div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="au-chat-textfield">
                                          <form class="au-form-icon">
                                              <input class="au-input au-input--full au-input--h65" type="text" placeholder="Type a message">
                                              <button class="au-input-icon">
                                                  <i class="zmdi zmdi-camera"></i>
                                              </button>
                                          </form>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
<style>
  .body {
    background-color: white !important;
  }
</style>