<!-- <div class="container" style="width: 30%;"> -->
  <div id="alert"></div>
  <%if(session.other && session.other.data === 'registered'){%>
    <div class="alert alert-success" role="alert">
      Validation email has been sent, please validate your account to be able to log in
    </div>
    <%}%>
      <% if(session.other && session.other.data === 'notValidated'){%>
        <div class="alert alert-danger" role="alert">
          You cannot log in, your account has not been validated. Please check your email
        </div>
        <%}%>
    <% if(session.other && session.other.data === 'notExists'){%>
      <div class="alert alert-danger" role="alert">
        User or Password incorrect, please try again
      </div>
      <%}
  session.other = {}; 
  %>
  
  <div class="page-wrapper">
    <div class="page-content--bge5">
        <div class="container">
            <div class="login-wrap">
                <div class="login-content">
                    <div class="login-logo">
                        <a href="#">
                            <img src="images/icon/logo.png" alt="CoolAdmin">
                        </a>
                    </div>
                    <div class="login-form">
                        <form action="/login" method="post">
                            <div class="form-group">
                                <label>Email Address</label>
                                <input class="au-input au-input--full" type="text" name="login" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input class="au-input au-input--full" type="password" name="password" placeholder="Password">
                            </div>
                            <!-- <div class="login-checkbox">
                                <label>
                                    <input type="checkbox" name="remember">Remember Me
                                </label>
                                <label>
                                    <a href="#">Forgotten Password?</a>
                                </label>
                            </div> -->
                            <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">sign in</button>
                        </form>
                        <div class="register-link">
                            <p>
                                Don't you have account?
                                <a href="/register">Sign Up Here</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
.alert{
    position:relative;
    left:25%;
    width: 50%;
}
</style>